.strength-container {
    display: flex;
    margin-top: 10px;
    width: 11%;
  }
  
  .strength-indicator {
    flex: 1;
    height: 10px;
    margin-right: 2px;
  }
  
  .strength-indicator:last-child {
    margin-right: 0;
  }
  